#from urllib import pathname2url as urlize

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Into Infinity</title>
<head>
<style>
body{font-family:Courier New, courier; font-size:13px;}img{border:0px;}
/*.uppercase{text-transform:uppercase}*/
</style>
</head>
<body>

<!-- 
World icon is based on the silk icon 
by FAMFAMFAM http://www.famfamfam.com/lab/icons/silk/ 
-->

<div style="width:820px; margin:auto; text-align:center;">
<a href="/exhibition"><img src='/media/nav/logo1.png'></a>
<h1>"INTO INFINITY" ARTIST INDEX</h1>

<div style="text-align:left;width:390px;float:left;padding:10px;line-height:20px;">
"EYES"
<p>
#for $eye in $eyes:
  #set $url = urlize($eye[0])
  <a href='$url' class="uppercase">$eye[0]</a> - $eye[1]["Location"] <a href='http://$eye[1]["Url"]'>URL</a><br/>
#end for
</p>
</div>

<div style="text-align:left;width:390px;float:left;padding:10px;line-height:20px;">
"EARS"
<p>
#for $ear in $ears:
  #set $url = urlize($ear[0])
  <a href='$url' class="uppercase">$ear[0]</a> - $ear[1]["Location"] <a href='http://$ear[1]["Url"]'>URL</a><br/>
#end for
</p>
</div>
<br/ style="clear:both;">
</div>

<div style="margin:auto;padding-top:5px;width:500px;text-align:center;text-transform:uppercase;"><a href='/exhibition/downloads'>Downloads</a> | <a href='/exhibition/about'>About</a> | <a href='/exhibition'>Exhibition</a>  | <a href='/mixer'>Mixer</a> | <a href='/nesting'>SLIDESHOW</a></div>

<div style="margin:auto;width:500px;text-align:center;padding:15px 0 0 0;"><a href="http://dublab.com/"><img src="/media/d1.png"></a> <a href="http://creativecommons.org/"><img src="/media/cc1.png"></a><p></p></div>

<div style="margin:auto;width:500px;text-align:center;padding:15px 0 0 0;"><a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" /></a></div>


</body>
</html>
