#from urllib import pathname2url as urlize

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Into Infinity</title>
<head>
	<script type='text/javascript' src='/media/jquery-1.2.6.min.js'></script>
	<script type='text/javascript' src='/media/jquery.form.js'></script>
	<script type='text/javascript' src='/media/minimixer.js'></script>
<style>
body{font-family:Courier New, courier; font-size:13px;}
html{height:110%;}

img{border:0px;}
#stage{visibility:hidden;}
#bank{margin:auto;width:60%;line-height:40px;text-align:center;line-height:45px;}
#bank .set {float:left;clear:right;margin:0 20px 0 0;}
.board{line-height:40px;width:90%;float:left;}
#bank a:link, #bank a:visited {text-decoration:none;}
.board .channel{background-color:yellow;padding:10px;width:50px;margin:0 5px 0 5px;float:left;}
.audio{background-image:url('/media/b_loading.png'); background-repeat:no-repeat;padding:11px 14px;color:#333;color:#777;}
.audio.on{background-image:url('/media/b_on.png') !important;}
.audio.loading{}
.audio.loaded{background-image:url('/media/b_off.png');}

hr{clear:both;}
#button input{}
.keycode {color:green;}

#message{position:relative;top:0;left:0;background-color:lightgreen;}

#log {visibility:hidden;position:absolute;height:50%;top:25%;left:0px;opacity:0.5;overflow:auto;}
.cmd-wrap {position:absolute;visibility:hidden;border:5px solid red}
.cmd {position:absolute;top:-50%;left:-50%;visibility:visible;background-color:#bbb;padding:1em 1em}
.cmd.active {color:#fff;background-color:lightgreen;}
div.menu {background-color:rgba(255,255,255,0)}
.menu.downlevel {opacity:0.5}
#tests {position:absolute;top:50%;width:90%;text-align:center}
#tests > span {margin:10em}
pre {display:none}
</style>

<script type="text/javascript">
log=function(s){document.getElementById('log').appendChild(document.createElement('li')).appendChild(document.createTextNode(s));document.getElementById('log').scrollTop+=1000}
DIST=90 //distance of labels from the center of the radial menu, in pixels
function findToMenu(s){
var a=s.split('\n').map(function(l){return l.split('/').slice(1)})
var f=function(a,d,s){
var l,r=[]
for (;;){
if (!a.length) return r.length ? r : null
if(d>0 && a[0][d-1] != s) return r.length ? r : null
l=a.shift()
r.push([l[d], "", f(a,d+1,l[d])])
}}
return f(a,0,"")
}

function Anim(f,a,d){this.f=f;this.args=a;this.duration=d||1000}
Anim.prototype.cancel=function(){this.finished=true}
runningAnimations={anims:[]}
function anim(f,args,dur){
var newAnim=new Anim(f,args,dur)
runningAnimations.anims.push(newAnim)
runAnims()
return newAnim
}
function runAnims(){
if(runningAnimations.intervalID!=undefined)return
runningAnimations.intervalID=setInterval(stepAnims,50)
}
function stepAnims(){
runningAnimations.anims.forEach(stepAnim)
if(!runningAnimations.anims.length){
 clearInterval(runningAnimations.intervalID)
 delete runningAnimations.intervalID
}}
function stepAnim(anim,i,arr){
var x
if (anim.finished) { arr.splice(i,1); return }
if (!anim.start) { anim.start = Number(new Date()); x=0 }
else { x = ((Number(new Date())) - anim.start) / anim.duration }
if (x>1) x=1
anim.f.apply(null,[x].concat(anim.args))
if (x==1) { arr.splice(i,1) }
}
function showMenu(m,e,parent,theta,dist){
var div=document.createElement('div'),offset=[e.pageX,e.pageY],coords
if(parent&&theta&&dist)coords=chooseCoordsFromP(parent,theta,dist)
else coords=chooseCoordinates(e)
offset=[coords[0]+coords[2]/2,coords[1]+coords[3]/2]
div.setDimensions(coords)
div.className='menu'
div.parentMenu=parent
var angles=chooseAngles(m,theta),
labels=placeLabels(div,m,angles,[150,130])
//log(angles.join(', '))
document.body.appendChild(div)
div.onmousemove=mmove(m,angles,offset,labels,div)
div.onmousedown=mclick(m,angles,offset,labels,div)
}
function chooseCoordsFromP(p,t,d){
var wx=300,wy=300,x=p.offsetLeft+(Math.sin(t)*d),y=p.offsetTop-(Math.cos(t)*d)
return [x>0?x:0,y>0?y:0,wx,wy]
}
function chooseCoordinates(e){
var wx=300,wy=300,x=e.pageX-wx/2,y=e.pageY-wy/2
return [x,y,wx,wy]
}
HTMLElement.prototype.setDimensions=function(a){with (this.style){
position="absolute"
left=a[0]+"px"
top=a[1]+"px"
width=a[2]+"px"
height=a[3]+"px"
}}
function chooseAngles(menu,towards){
var n=menu.length*2,theta=Math.PI*2/n,r=[],i=0,offset=(towards==undefined)?0:towards-Math.PI-theta
for (;i<n;i++) r.push(normRad(i*theta+offset))
return r
}
function normRad(t){var a=2*Math.PI //normalize to positive radians 0..2*PI
while (t<0) t+=a
while (t>a) t-=a
return t
}
function placeLabels(e,m,a,o){
var i=0,l=m.length,wrap,span,ret=[]
for (;i<l;i++){
span=document.createElement('span')
wrap=document.createElement('wrap')
span.appendChild(document.createTextNode(m[i][0]))
wrap.appendChild(document.createTextNode(m[i][0]))
span.className='cmd'
wrap.className='cmd-wrap'
ret.push(span)
var theta=a[2*i+1]
wrap.style.top=(o[0]-Math.cos(theta)*DIST)+'px'
wrap.style.left=(o[1]+Math.sin(theta)*DIST)+'px'
e.appendChild(wrap).appendChild(span)
}return ret}
function mmove(m,a,o,l,p){//menu::array, angles::array, offset::array(2), labels::array, parent::HTMLDivElement
return function(e){
var x=e.pageX-o[0],y=e.pageY-o[1],i,len,dist=Math.sqrt(x*x+y*y)
for(i=0,len=l.length;i<len;i++)l[i].style.backgroundColor='#bbb'
i=pointedAt(a,x,y)
if(i!=null){
/*anim(function(n){
 l[i].style.backgroundColor=rgbinter('bbb','#555',n*n)
 },[],400)*/
l[i].style.backgroundColor=rgbinter('bbb','555',dist/DIST)
if(dist>=DIST*0.8){
 if(m[i][0]=="<<"){
  p.parentNode.removeChild(p)
  if(p.parentMenu) activateMenu(p.parentMenu)
 }else{
 if(m[i][2]!=null){deactivateMenu(p);showMenu([["<<","",null]].concat(m[i][2]),e,p,a[i*2+1],DIST)}
}}}}}
function clamp(x,a,b){var c; if(a>b){c=b;b=a;a=c} if(x>b)return b; if(x<a)return a; return x}
function rgbinter(from,to,by){//interpolate between two RGB values expressed as strings
by=clamp(by,0,1)
from=rgbStringToTriple(from)
to=rgbStringToTriple(to)
return rgbTripleToString({r:inter(from.r,to.r,by),g:inter(from.g,to.g,by),b:inter(from.b,to.b,by)})
}
function rgbStringToTriple(s){
var m=/#?([0-9a-f]{1,2})([0-9a-f]{1,2})([0-9a-f]{1,2})/.exec(s.toLowerCase()),
f=function(s){return parseInt((s+s).substring(0,2),16)}
return{r:f(m[1]),g:f(m[2]),b:f(m[3])}
}
function rgbTripleToString(t){
var f=function(n){return ('0'+(Math.round(n).toString(16))).substr(-2)}
return '#'+f(t.r)+f(t.g)+f(t.b)}
function inter(a,b,x){return a+(b-a)*x}
function mclick(m,a,o,l,p){
return function(e){
var x=e.pageX-o[0],y=e.pageY-o[1],i
i=pointedAt(a,x,y)
if((i==null)||(m[i][0]=="<<")){
p.parentNode.removeChild(p)
if(p.parentMenu) activateMenu(p.parentMenu)
}else{
 //if(m[i][1]!=null){log(m[i][1]);removeMenuTree(p)}
 if(m[i][1]!=null){log('you picked '+m[i][0]);removeMenuTree(p);eval(m[i][1])}
 if(m[i][2]!=null){deactivateMenu(p);showMenu(m[i][2],e,p)}
}}}
function deactivateMenu(e){
e.className='menu downlevel'
e.mmove_saved=e.onmousemove
e.mdown_saved=e.onmousedown
e.onmousemove=e.onmousedown=undefined
}
function activateMenu(e){
e.className='menu'
e.onmousemove=e.mmove_saved
e.onmousedown=e.mdown_saved
e.mmove_saved=e.mdown_saved=undefined
}
function removeMenuTree(e){
if (e.parentMenu) removeMenuTree(e.parentMenu)
e.parentNode.removeChild(e)
}
function pointedAt(a,x,y){
var sq=400
if(x*x+y*y<sq) return null
var theta=Math.atan2(x,-y)
if (theta<0) theta+=2*Math.PI
return inDirection(a,theta)
}
//return lowest x such that theta is between a[2x] and a[2(x+1)]
function inDirection(a,theta){
for (var i=0,l=a.length;i<l;i+=2)if(between(a[i],a[i+2],theta))return i/2
return l/2-1
}
function between(a,b,t){
if(b>a)return b>t && t>a
else return t>a || t<b
}
</script>


</head>
<body>
<pre><code id="edit">{ "name": "Edit",
 "contents":
 [["Play", "Play()", null]
 ,["Stop", "Stop()", null]
 ,["Download", "Download()", null]
 ,["Assign Key", "AssignKey()", null]
 ]
}</code></pre>

<ul id="log"><li>Log:</li></ul>






<div id="bank">

<a href="/exhibition"><img src='/media/nav/logo1.png'></a>
<h1>INTO INFINITY "AUDIO MEGA-MIXER"</h1>


<div id="message"></div>





#for $artist, $ears in $ear_authors

   $artist    
   #set $c = 1
   #for $e in $ears
       #set $eid = "button-"+$e.swf_file_path.split(".")[0]
       <a href="/documents/$e.swf_file_path" title="$artist : $c" ref="audio"><span id="$eid" class="audio" alt="$e.file_path">$c</span></a>
       #set $c += 1
   #end for


#end for


<p>
<!--Name: <input type="text"/>
<input type="submit" value="SAVE"/>

Embed Code: <input type="text" value="<div><object..."/>

Preset URL: <a href="#">http://...</a>
-->
</p>


<form id="button">
Mode: <input type="radio" name="mode" value="toggle" checked="true" />Toggle Play/Stop | <input type="radio" name="mode" value="trigger"/>Trigger <span class="keycode">(Hold 1)</span> | <input type="radio" name="mode" value="gate"/>Gate <span class="keycode">(Hold 2)</span> | <input type="radio" name="mode" value="menu" />Menu <span class="keycode">(Hold 3)</span>
</form>


<p>
<a href="/exhibition/about">ABOUT</a> | <a href="/exhibition/artists">ARTIST INDEX</a> | <a href="/exhibition/downloads">DOWNLOADS</a> | <a href="/exhibition">EXHIBITION</a>  | <a href='/nesting'>SLIDESHOW</a>
</p>


<p>
  <a href="http://dublab.com/"><img src="/media/d1.png"></a> 
  <a href="http://creativecommons.org/"><img src="/media/cc1.png"></a><br/>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">
     <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc/3.0/80x15.png" />
  </a>
</p>




</div>

<!--<p>
##  <a href="/exhibition"><img src='/images/nav/logo1.png' style='float:left;'></a>
##  #set $artist_url = "/exhibition/" + urlize($ear.author)
##  <a href="$artist_url">$ear.author</a><br/>
##  $ear.location<br/>
##  <object type="application/x-shockwave-flash" data="/documents/$ear.swf_file_path" width="10" height="10" id=""></object><br/>
##  Download: <a href="/documents/$ear.file_path">Ear</a>
##</p>

<p>
DOWNLOAD ALL BANK IN HI-FIDELITY (150MB)
</p>
<hr/>


-->

<div id="stage">
<img src="/media/b_on.png"><img src="/media/b_off.png"><img src="/media/b_loading.png">
</div>




</body>
</html>



